<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Palace</title>
		<link rel="stylesheet" href="{{.Root}}/static/style.css" />
	</head>
	<body>
		<div class="content">
			<h1>Palace</h1>
			<form method="get">
				<input type="text" name="q" value="{{.Query}}">
				<button type="submit">search</button>
			</form>
			<div id="results">
				<span>{{.NumResults}} result{{if ne .NumResults 1}}s{{end}}</span>
				{{ range .Results }}
				<p class="result">
					<a href="{{.URL}}">
						<h2 class="result_title">{{ .SafeTitle }}</h2>
						<p class="url">{{.URL}}</p>
					</a>
					<p>{{ .SafeBlurb }}</p>
					<p>
						<span title="{{.ScrapedAt}}">visited {{ .ScrapedAgo }} ago</span>
						— <a href="pages/{{.ID}}">cached</a>
					</p>
				</p>
				{{ end }}
			</div>
			<div id="paginator">
				{{with .PrevPage}}
				<a href="{{.}}">prev</a> —
				{{end}}
				page {{.PageNum}}
				{{with .NextPage}}
				— <a href="{{.}}">next</a>
				{{end}}
			</div>
		</div>
	</body>
</html>

