@media (min-width: 600px) {
	.content {
		max-width: 600px;
		margin: auto;
	}
}

:root {
	font-family: Arial;
}

body {
	background-color: #ddd;
	color: #222;
}

a {
	color: #005d80;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #ddd;
	}

	a {
		color: #8fbc8f;
	}
}

h2.result_title {
	padding-bottom: 0;
	margin-bottom: 0;
}

p.url {
	padding-top: 0;
	margin-top: 0;
}

pre.content {
	white-space: pre-wrap;
}
